{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
    <div class="l-wrapper">
        <div class="information">
            <div class="logo-wrapper">
                <img src="{{@site.logo}}" alt="{{@site.title}}"/>
            </div>
            <div class="about-wrapper">
                <p>{{@site.title}} es una marca de Latamautos México S. de R.L. de C.V. Usar este sitio implica aceptar
                    nuestros <a href="/terminos-y-condiciones">Términos y Condiciones</a> de uso así como nuestro Aviso de Privacidad. Prohibida su
                    reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de
                    su titular.</p>
            </div>
            <div class="social-wrapper">
                <nav class="m-footer-social" id="js-social-list"></nav>
            </div>
        </div>
    </div>
    <div class="l-wrapper">
        <div class="develop-copyright">
            <div class="develop">
                COPYRIGHT © 2004 - {{date format="YYYY"}} <span>|</span> <a href="{{@site.url}}" class="latam-primary-text">{{@site.title}}</a>
            </div>
            <div class="copyright">
                Un producto de: <a href="/blog/latam-autos/" target="_blank">
                    <img src="{{asset "images/latamautos.svg"}}" alt="latamautos" />
                </a>
            </div>
        </div>
    </div>
</footer>
